<head>
<nav>
    <ul>
        <li><a href="{{ path('liste_article') }}">Articles</a></li>
        <li><a href="{{ path('article_create') }}">Creer un Article</a> </li>
        <li><a href="{{ path('liste_auteur') }}">Auteurs</a></li>
        <li><a href="{{ path('auteur_create') }}">Creer un auteur</a></li>
    </ul>
</nav>
</head>